#Process, Arguments, Warn, Crit
#ps axwo 'stat uid pid ppid vsz rss pcpu comm args' give the correct process name
apache2, /usr/sbin/apache2 -k , 3:100 , 1:200
proftpd, proftpd, ,1:10
vsftpd, /usr/sbin/vsftpd, ,1:10
sendmail-mta, sendmail, ,1:10
dovecot,  /usr/sbin/dovecot -c /etc/dovecot/dovecot.conf,  ,1:1
amavisd , /usr/sbin/amavisd , , 2:10
saslauthd,  /usr/sbin/saslauthd -a pam -c -m /var/run/saslauthd -n 5, ,1:10
dspam, dspam --daemon, ,1:1
spamd, /usr/sbin/spamd, ,1:1
clamd, /usr/sbin/clamd, ,1:1
openvpn, /usr/sbin/openvpn, ,2:2
nginx, nginx, ,1:15
named, /usr/sbin/named, ,1:1
xinetd, /usr/sbin/xinetd, ,1:1
rsyslogd, /usr/sbin/rsyslogd, , 1:1
cron, /usr/sbin/cron, , 1:1
ntpd , /usr/sbin/ntpd , , 1:1
sshd , /usr/sbin/sshd , , 1:1
snmpd , /usr/sbin/snmpd, , 1:1
mysqld , /usr/sbin/mysqld, , 1:1
exim4, /usr/sbin/exim4, , 1:1
master, /usr/lib/postfix/master, , 1:1
fail2ban-server, /usr/bin/python /usr/bin/fail2ban-server, ,1:1
php-fpm7.0, php-fpm: master process, ,1:1
redis-server, /usr/bin/redis-server, ,1:1
smbd, /usr/sbin/smbd -D, , 1:4
BackupPC, /usr/bin/perl /usr/share/backuppc/bin/BackupPC -d, , 1:1
