# {{ ansible_managed }}
shopt -s checkwinsize
shopt -s cmdhist
shopt -s histappend
export HISTSIZE=100000
export HISTFILESIZE=200000
export HISTTIMEFORMAT="%F - %T : "
export HISTCONTROL=ignoreboth
export PROMPT_COMMAND="${PROMPT_COMMAND}; history -a; history -c; history -r"
