# {{ ansible_managed }}

# Limit bandwith to 8192 Kbps
$Conf{RsyncArgs} = [
  '--bwlimit=16384',
  '--numeric-ids',
  '--perms',
  '--owner',
  '--group',
  '-D',
  '--links',
  '--hard-links',
  '--times',
  '--block-size=2048',
  '--recursive'
];
