# {{ ansible_managed }}
# Module: php_fpm
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/7.8/metricbeat-module-php_fpm.html

- module: php_fpm
  period: 10s
  hosts:
    - "https://mad-rabbit.com"
    - "https://mnt-tech.fr"
  status_path: "/status"
