<VirtualHost *:{{ apache_vhosts[item].port }}>
{% for item in apache_vhosts[item].parameters %}
	{{ item }}
{% endfor %}
{% if apache_vhosts[item].redirect_to_ssl is defined  and apache_vhosts[item].redirect_to_ssl %}
	RewriteEngine	On
	RewriteCond	%{SERVER_PORT} ^80$
	RewriteRule	^(.*)?$ https://%{SERVER_NAME}$1 [L,R]
{% endif %}
{% if apache_vhosts[item].root is defined %}
	DocumentRoot {{ apache_vhosts[item].root }}
{% endif %}
{% if apache_vhosts[item].SSLCertificateFile is defined and apache_vhosts[item].certbot is not defined %}
	SSLCertificateFile /etc/apache2/ssl/{{ apache_vhosts[item].SSLCertificateFile }}
{% endif %}
{% if apache_vhosts[item].SSLCertificateFile is defined and apache_vhosts[item].certbot is defined %}
	SSLCertificateFile {{ apache_vhosts[item].SSLCertificateFile }}
{% endif %}
{% if apache_vhosts[item].SSLCertificateKeyFile is defined and apache_vhosts[item].certbot is not defined %}
	SSLCertificateKeyFile /etc/apache2/ssl/{{ apache_vhosts[item].SSLCertificateKeyFile }}
{% endif %}
{% if apache_vhosts[item].SSLCertificateKeyFile is defined and apache_vhosts[item].certbot is defined %}
	SSLCertificateKeyFile {{ apache_vhosts[item].SSLCertificateKeyFile }}
{% endif %}
{% if apache_vhosts[item].SSLCACertificateFile is defined %}
	SSLCACertificateFile /etc/apache2/ssl/{{ apache_vhosts[item].SSLCACertificateFile }}
{% endif %}
{% if apache_vhosts[item].static is defined and apache_vhosts[item].static %}
	Include /etc/apache2/conf/expires.conf
{% endif %}
{% if apache_vhosts[item].root is defined %}
	<Directory {{ apache_vhosts[item].root }}>
		Order deny,allow
		Allow from all
		Require all granted
		AllowOverride All
	</Directory>
{% endif %}
	ErrorLog /var/log/apache2/{{ item }}_error.log
	CustomLog /var/log/apache2/{{ item }}_access.log combined
</VirtualHost>
