# {{ ansible_managed }}
metricbeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false
  index.number_of_replicas: 0
setup.template.settings:
  index.number_of_shards: 1
  index.codec: best_compression
setup.kibana:
  host: "https://data.igln.fr:5601"
output.elasticsearch:
  hosts: ["94.23.24.201:9200"]
  username: "metricbeat"
  password: "${METRICBEAT_PASSWORD}"
processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
