# {{ ansible_managed }}
{% for config in resolv_config %}
{% if config.nameserver is defined %}
{% for ns in config.nameserver %}
nameserver {{ ns }}
{% endfor %}
{% endif %}
{% if config.search is defined %}
{% for search in config.search %}
search {{ search }}
{% endfor %}
{% endif %}
{% endfor %}
