# {{ ansible_managed }}
filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false
  index.number_of_replicas: 0
setup.template.settings:
  index.number_of_shards: 1
  index.number_of_replicas: 0
setup.kibana:
  host: "https://data.igln.fr:5601"
output.elasticsearch:
  hosts: ["{{ es_ip_address }}:9200"]
  username: "filebeat"
  password: "${FILEBEAT_PASSWORD}"
processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
setup.ilm.policy_file: "/etc/filebeat/ilm.json"
