# {{ ansible_managed }}
server.port: 5601
server.host: "data.igln.fr"
#server.maxPayloadBytes: 1048576
server.name: "data.igln.fr"
elasticsearch.hosts: ["http://{{ es_ip_address }}:9200"]
elasticsearch.preserveHost: true
elasticsearch.username: "kibana"
#elasticsearch.password: stored in keystore
kibana.index: ".kibana"
kibana.defaultAppId: "home"
server.ssl.enabled: true
server.ssl.certificate: /etc/kibana/data.igln.fr/fullchain.pem
server.ssl.key: /etc/kibana/data.igln.fr/privkey.pem
pid.file: /run/kibana/kibana.pid
