/var/log/apache2/*.log /var/log/apache2/*_log {
	daily
	missingok
	rotate 9
	dateext
	dateyesterday
	compress
	delaycompress
	notifempty
	create 640 root www-data
	sharedscripts
	postrotate
                if /etc/init.d/apache2 status > /dev/null ; then \
                    /etc/init.d/apache2 reload > /dev/null; \
                fi;
	endscript
	prerotate
		if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
			run-parts /etc/logrotate.d/httpd-prerotate; \
		fi; \
	endscript
}
